# Virtual environment
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Large Model Weights & Checkpoints
*.pth
*.pt


# Datasets and Archives
*.tar.gz
data/
processed_data/
Dataset Creation/
Evaluation data set/
processed_eval/
thesis_figures/

# IDE / OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
.pdf

zotero_mcp_setup.bat
zotero_mcp_setup.py
*.png
*.csv
*.pdf

LSPA_Viva_Presentation.pptx
fire_extract.txt